    <!--                        HEADER                      -->
  <div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <%= render "shared/navbar_header" %>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav side-nav">
          <li><a href="<%=user_path(@user)%>"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-list-alt"></i> Past Courses</a></li>
          <li class="active"><a href="<%=edit_user_registration_path%>"><i class="glyphicon glyphicon-edit"></i> Edit Profile</a></li>
        </ul>
        <%= render partial: "shared/user_header", locals: {user: @user} %>
      </div>
    </nav>
    <!-- *********** -->

    <!--                              USER DASHBOARD                -->
    <div class="container pagepad page-wrapper">
      <%= render "shared/flash" %>
      <div class="panel dashPanel">
        <%= gravatar_for @user %>
        <div class="dashName"><small>
          <%= @user.first_name %> <%= @user.last_name %>
        </small></div>
        <div class="dashCred">
          <p><i class="glyphicon glyphicon-envelope"></i> <%= @user.email %><br/>
          <i class="glyphicon glyphicon-user"></i> <%= @user.username %>
        </div>
      </div>
      
    <!--  ***********  -->

    <!--                               CONTENT                -->
      <div class="container-fluid contentpad">
        <%= render "shared/flash" %>
        <% if @user.errors.any? %>
          <%= render partial: "shared/create_errors", locals: {object: @user, name:"user"} %>
        <% end %>
        <div class="row">
          <div class="col-md-8">
            <div class= "row">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title"><i class="glyphicon glyphicon-wrench"></i> Edit My Profile</h4>
              </div>
              <div class="panel-body">
                <div class="col-sm-6">
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h4 class="panel-title"><i class="glyphicon glyphicon-user"></i> Edit My Name, Username or E-mail</h4>
                    </div>
                    <div class="panel-body">
                    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
                      <div class="input-group">
                        <span class="input-group-addon">FirstName</span>
                        <%= f.text_field :first_name, class: "form-control" %>
                      </div>
                      <div class="input-group">
                        <span class="input-group-addon">LastName</span>
                        <%= f.text_field :last_name, class: "form-control" %>
                      </div>
                      <div class="input-group">
                        <span class="input-group-addon">Username</span>
                        <%= f.text_field :username, class: "form-control" %>
                      </div>
                      <div class="input-group">
                        <span class="input-group-addon">E-mail</span>
                        <%= f.email_field :email, class: "form-control" %>
                      </div>
                      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                      <% end %>
                      <div class="input-group">
                        <span class="input-group-addon">New Password</span>
                        <%= f.password_field :password, class: "form-control",:autocomplete => "off", placeholder:"Optional" %>
                      </div>
                      <div class="input-group">
                        <span class="input-group-addon">Re-enter Password</span>
                        <%= f.password_field :password_confirmation, class: "form-control", placeholder:"Optional" %>
                      </div>
                      <br>
                      <div class="input-group">
                        <span class="input-group-addon">Current Password</span>
                        <%= f.password_field :current_password, :autocomplete => "off", class: "form-control" %>
                      </div>
                      <br>
                      <button role="button" type="submit" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-send"></i> Update Account</button>
                    <% end %> 
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="panel panel-danger">
                    <div class="panel-heading">
                      <h4 class="panel-title"><i class="glyphicon glyphicon-floppy-remove"></i> Delete My Account?</h4>
                    </div>
                    <div class="panel-body">
                      <%= button_to registration_path(resource_name), :data => { :confirm => "Are you sure about this?" }, :class => 'btn btn-block btn-danger', :method => :delete do %>
                        <span class="glyphicon glyphicon-remove"> DELETE ACCOUNT!</span>
                    <% end %>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            </div>
          </div>

          <div class="col-md-4 scrollable">
            <div class= "row">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title"><i class="glyphicon glyphicon-bell"></i> TeachBack Notifications</h4>
              </div>
              <div id="userNotifications" class="panel-body">
                <div class="alert alert-warning">
                  <strong>Warning!</strong> Better check yourself, you're not looking too good.
                </div>
                <div class="alert alert-success">
                  <strong>Warning!</strong> Better check yourself, you're not looking too good.
                </div>
                <div class="alert alert-info">
                  <strong>Warning!</strong> Better check yourself, you're not looking too good.
                </div>
                <div class="alert alert-danger">
                  <strong>Warning!</strong> Better check yourself, you're not looking too good.
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>

        

        <%= render "shared/footer" %>
        
      </div>
    </div>
  </div>


    


