<div class="list-group">
  <a href=<%= course_path(course) %> class="list-group-item">
    <h4 class="list-group-item-heading">
      <%=course.title%>
    </h4>
    <p class="list-group-item-text">
      <%= course.location %>: <%= course.lecture_days %> <%= course.lecture_start_time %>-<%= course.lecture_end_time %></p>
    <p class="list-group-item-text">Instructor: <%= course.instructor %></p>
  </a>
</div>