<h1>Create Course</h1>
<h2>Find me: app/views/courses/new.html.erb</h2>
<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label>Title:</label>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <label>Instructor:</label>
    <%= f.text_field :instructor %>
  </div>
  <div class="form-group">
    <label>Location:</label>
    <%= f.text_field :location %>
  </div>
  <div class="form-group">
    <label>Lecture Days:</label>
    <%= f.text_field :lecture_days %>
  </div>
  <div class="form-group">
    <label>Lecture Time:</label>
    <%= f.text_field :lecture_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

